body{
    header{
        .btn-primary {
            color:  rgb(138, 138, 138);
            background-color: white;
            border-color:  rgb(138, 138, 138);
        }
    }
    main{
        .btn-primary {
            color:  rgb(138, 138, 138);
            background-color: white;
            border-color:  rgb(138, 138, 138);
        }
        .btn{
            margin: 25px;
        }
    }
}
