body{
    header{
        background-image:url("../img/Fondo.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        .trazodulce{
            font-family: 'Zilla Slab', serif;
            font-size: 120px;
            color: white;
            width: 100%;
            height: 100%;
            text-align: center;
            padding: 25px;
            line-height: 30px;
            -webkit-text-stroke: 0.5px black;
            }
        .subtitulo{
            font-family: 'Dancing Script', cursive;
            color: white;
            width: 100%;
            height: 100%;
            padding: 10px;
            font-size: 60px;
            text-align: center;
            letter-spacing: 2px;
            -webkit-text-stroke: 0.5px black;
        }
        .bg-light {
            background-color: rgb(242, 238, 235)!important;
        }
        .dropdown-menu {
            background-color: rgb(242, 238, 235);
        }
    }
}